<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta content="utf-8" http-equiv="encoding" />
    <link rel="stylesheet" type="text/css" href="css/mainpage.css" />

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    <title>Pink Friday - UVT 2020</title>

    <link rel="shortcut icon" href="img/profile.png" />
  </head>

  <body>
    <nav class="nav1">
      <div class="logosearch">
        <div class="navlogo">
          <a href="mainpage.html" title="Pink Friday - UVT 2020"
            ><img src="img/cover.png" alt="logo"
          /></a>
        </div>
        <div class="navsearch">
            <form id="quick_find" name="quick_find" onsubmit="cauta();return false;">
                <input id="keyword" size="10" maxlength="50" value="" placeholder="Introduceți numele produsului..." type="text" autocomplete="off">
            <button type="submit">Cauta</button>
          </form>
        </div>
      </div>
      <div class="navmenu">
        <ul class="navbarUL">
          <a href="loginsignup.html">
          <li><i class="fas fa-user"></i></li>
        </a>
          <li><i class="fas fa-star"></i></li>
          <a href="cart.html">
        <li><i class="fas fa-shopping-cart"></i></li>
      </a>
        </ul>
      </div>
    </nav>

    <div class="footer">
      <ul class="footercontent">
        <li><i class="fab fa-facebook"></i></li>
        <li><i class="fas fa-envelope-open-text"></i></li>
        <li><i class="fab fa-twitter"></i></li>
      </ul>
    </div>

    <nav class="main-menu">
      <ul>
        
      <li>                                   
      <a href="/">
        <i class="fas fa-search"></i>
      <span class="nav-text">All Items</span>
      </a>
      </li>    
        
      </li>
      <li class="darkerlishadow">
      <a href="/">
      <span class="iconify" data-icon="mdi-flower" data-inline="false"></span>
      <span class="nav-text1">Flowers</span>
      </a>
      </li>
        
      <li class="darkerli">
      <a href="/">
      <i class="fas fa-tree"></i>
      <span class="nav-text">Trees</span>
      </a>
      </li>
        
      <li class="darkerli">
      <a href="/">
        <i class="fas fa-seedling"></i>
      <span class="nav-text">Seeds</span>
      </a>
      </li>
        
      
      <li class="darkerli">
      <a href="/">
        <i class="fas fa-tools"></i>
      <span class="nav-text">Gardening Tools</span>
      </a>
      </li>
        
      <li class="darkerli">
      <a href="/">
        <i class="fas fa-tshirt"></i>
      <span class="nav-text">Gardening Clothes, Shoes</span>
      </a>
      </li>

      <li class="darkerli">
        <a href="/">
          <i class="fas fa-gifts"></i>
        <span class="nav-text">Gifts</span>
        </a>
        </li>

      </ul>

      </nav>
        


    <div class="maincontent">
      
      <img src="img/gardening.jpg" alt="garden">




    </div>

    <div class="container-fluid">
      <div class="px-lg-5">
    
        <div class="row py-5">
          <div class="col-md-11 mx-auto">
            <div class="text-black p-4 shadow-lg rounded banner border border-dark">
              <h1 class="display-3">Deals of the Week</h1>
              <p class="lead">Discounts up to 70% (Hurry up, they only last until Sunday 23:59!)</p>
              </p>
            </div>
          </div>
        </div>
    
        <div class="row ">
          <div class="col-xl-3 col-lg-4 col-md-6 mb-4 ">
            <div class="bg-white rounded shadow-lg border border-dark"><img src="img/bonsai.jpg" alt="" class="img-fluid card-img-top">
              <div class="p-4">
                <h5> <a href="#" class="text-dark">Bonsai Tree</a></h5>
                <p class="small text-muted mb-0">A Bonsai tree is a replication of nature, in the form of a miniature tree, without displaying the human intervention too clearly.</p>
                <div class="badge badge-danger px-3 rounded-pill font-weight-normal">-50%</div>
              </div>
            </div>
          </div>
    
          <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
            <div class="bg-white rounded shadow-lg border border-dark"><img src="img/orchidee.jpg" alt="" class="img-fluid card-img-top">
              <div class="p-4">
                <h5> <a href="#" class="text-dark">Moth orchids</a></h5>
                <p class="small text-muted mb-0">Phalaenopsis Blume, commonly known as moth orchids, is a genus of about seventy species of plants in the family Orchidaceae.</p>
                <div class="badge badge-danger px-3 rounded-pill font-weight-normal">-70%</div>
              </div>
            </div>
          </div>
    
          <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
            <div class="bg-white rounded shadow-lg border border-dark"><img src="img/lettuce.jpg" alt="" class="img-fluid card-img-top">
              <div class="p-4">
                <h5> <a href="#" class="text-dark">Lettuce seeds</a></h5>
                <p class="small text-muted mb-0">Lettuce is most often used for salads, although it is also seen in other kinds of food, such as soups, sandwiches and wraps; it can also be grilled.</p>
                <div class="badge badge-danger px-3 rounded-pill font-weight-normal">-20%</div>
              </div>
            </div>
          </div>
    
          <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
            <div class="bg-white rounded shadow-lg border border-dark"><img src="img/shoes.jpg" alt="" class="img-fluid card-img-top">
              <div class="p-4">
                <h5> <a href="#" class="text-dark">Men's Premium Garden Clogs - Black</a></h5>
                <p class="small text-muted mb-0">Traditional styling and quality construction make this one of best gardening clogs you can buy. Keep a pair ready at the backdoor for all your errands and work.</p>
                <div class="badge badge-danger px-3 rounded-pill font-weight-normal">-45%</div>
              </div>
            </div>
          </div>
    
        </div>

        <div class="py-5 text-right"><a href="#" class="btn btn-warning border border-dark px-5 py-3 text-uppercase">Show me more discounted items.</a></div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="px-lg-5">
    
        <div class="row py-5">
          <div class="col-md-11 mx-auto">
            <div class="text-black p-4 shadow-lg rounded banner1 border border-dark">
              <h1 class="display-3">Popular items</h1>
              <p class="lead">Most viewed items</p>
            </div>
          </div>
        </div>
    
        <div class="row">
          <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
            <div class="bg-white rounded shadow-lg border border-dark"><img src="img/rake.jpg" alt="" class="img-fluid card-img-top">
              <div class="p-4">
                <h5> <a href="#" class="text-dark">Steel rake</a></h5>
                <p class="small text-muted mb-0">Used for scarifying lawns and removing unwanted growth. The tines are oil treated to give extra strength.</p>
                <div class="badge badge-success px-3 rounded-pill font-weight-normal">24.99 Lei</div>
              </div>
            </div>
          </div>
    
          <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
            <div class="bg-white rounded shadow-lg border border-dark"><img src="img/gravel.jpg" alt="" class="img-fluid card-img-top">
              <div class="p-4">
                <h5> <a href="#" class="text-dark">Gravel</a></h5>
                <p class="small text-muted mb-0">We carry a huge inventory of gravel that lets you finish any project you’re working on, from walkways and woodland patios to driveways and French drains.</p>
                <div class="badge badge-success px-3 rounded-pill font-weight-normal">9.99 Lei/Kg</div>
              </div>
            </div>
          </div>
    
          <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
            <div class="bg-white rounded shadow-lg border border-dark"><img src="img/rose.jpeg" alt="" class="img-fluid card-img-top">
              <div class="p-4">
                <h5> <a href="#" class="text-dark">Rose Bouquet Gift</a></h5>
                <p class="small text-muted mb-0">Rose Bouquet gift for loved ones, made with real Swarovski diamonds.</p>
                <div class="badge badge-success px-3 rounded-pill font-weight-normal">199.99 Lei</div>
              </div>
            </div>
          </div>
    
          <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
            <div class="bg-white rounded shadow-lg border border-dark"><img src="img/tree.jpg" alt="" class="img-fluid card-img-top">
              <div class="p-4">
                <h5> <a href="#" class="text-dark">Christmas tree</a></h5>
                <p class="small text-muted mb-0">Christmas tree, an evergreen tree, often a pine or a fir, decorated with lights and ornaments as a part of Christmas festivities.</p>
                <div class="badge badge-success px-3 rounded-pill font-weight-normal">59.99 Lei</div>
              </div>
            </div>
          </div>
          <h1>&nbsp;</h1>
        </div>

      </div>
    </div>



    <div class="switchcontainer">
      <div class="one-quarter" id="switch">
        <input type="checkbox" class="checkboxswitch" id="chk" />
        <label class="label" for="chk">
          <i class="fas fa-moon"></i>
          <i class="fas fa-sun"></i>
          <div class="ball"></div>
        </label>
      </div>
    </div>
  </body>

  <script>
    const chk = document.getElementById("chk");

    chk.addEventListener("change", () => {
      document.body.classList.toggle("dark");
    });
  </script>
</html>
